altgraph==0.17.4
colorama==0.4.6
importlib-metadata==8.6.1
llvmlite==0.43.0
numba==0.60.0
numpy==2.0.2
packaging==24.2
pandas==2.2.3
pefile==2023.2.7
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
python-dateutil==2.9.0.post0
pytz==2025.1
pywin32-ctypes==0.2.3
scipy==1.13.1
six==1.17.0
tqdm==4.67.1
tzdata==2025.1
zipp==3.21.0
